[data-icon="flag-gb"] {
    background-image: url('../images/gfx/flags/gb.png');
}
[data-icon="flag-fr"] {
    background-image: url('../images/gfx/flags/fr.png');
}
[data-icon="flag-de"] {
    background-image: url('../images/gfx/flags/de.png');
}
