/*basic styles to keep consistent throughout webpage*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans';
* {
    margin: 0 auto;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    width: 6px;
	height: 0px;
}
::-webkit-scrollbar-track {
    /*background-color: rgba(0, 0, 0, 0.75);*/
    box-shadow: inset 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
	background: rgb(4,154,230);
	background: -moz-linear-gradient(-45deg,  rgba(4,154,230,1) 0%, rgba(4,107,216,1) 100%);
	background: -webkit-linear-gradient(-45deg,  rgba(4,154,230,1) 0%,rgba(4,107,216,1) 100%);
	background: linear-gradient(135deg,  rgba(4,154,230,1) 0%,rgba(4,107,216,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049ae6', endColorstr='#046bd8',GradientType=1 );
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #37474F;
}
html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 0px;
}
canvas {
    position: absolute;
    background-color: transparent;
    z-index: 100;
    cursor: default;
}
